
:root{
    --font: 48px;
}



body{
    background-color: gray;
    color: white;
    text-shadow: 0px 0px 10px gold;
}

header{
    position: absolute;
    left: 250px;
    right: 40px;
    background-color: #333;
    border: 10px groove gold;
    bottom: 80%;
    top: 7px;
}

header h1{
    text-align: center;
}

header #btn{
    position: absolute;
    width: 150px;
    height: 50px;
    background-color: green;
    border-radius: 5px;
    left: 80%;
    top: 50%;
    border: 5px groove gold;
    color: white;
    font-size: 28px;
    transition: border-radius 1.5s;
}

header #btn:hover{
    border-radius: 20px; 
}

nav{
    position: absolute;
    width: 200px;
    height: 75%;
    background-color: #333;
    border: 10px groove gold;
    text-align: center;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    padding: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    transition: text-shadow 0.5s;
}

.nav-links a:hover {
    text-shadow: -5px -5px 5px gold;
}


main{
    position: absolute;
    left: 250px;
    right: 40px;
    top: 160px;
    height: calc(75% - 152px);
    background-color: #333;
    border: 10px groove gold;
    font-size: var(--font);
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

main p{
    margin: 10px;
    padding: 0;
}

footer{
    position: absolute;
    top: 80%;
    height: 16%;
    left: 5px;
    right: 40px;
    background-color: #333;
    border: 10px groove gold;
    text-align: center;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}